$dc-accent_link: #2195f3;
$dc-accent: #0282F9;
$dc-list_content: #00A9DF;
$dc-dark_bg: #1f1f1f;
$dc-dark_bg_alternative: #2f2f2f;
$dc-light_bg: #f1f1f1;

$dc-title_blu: #003F5E;
$dc-detail_bg: #F6F6F6;
$dc-border: #ccc;